<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <p></p>
    <h3>Список студентов</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>ФИО</td>
            <td>Возраст</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in Students">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>
                <button class="btn  btn-outline-secondary btn-sm" ng-click="editStudent(s.id)">Редактировать</button>
                <button class="btn btn-danger" ng-click="deleteStudent(s.id)">Отчислить</button>
            </td>>

        </tr>
        </tbody>
    </table>
    <p></p>
    <div class="form-floating input-group-sm">
        <h3 ng-show="isAdding()">Добавить студента</h3>
        <h3 ng-show="!isAdding()">Редактировать студента </h3>
        <form novalidate ng-submit="save()">
            <input class="form-control" type="text" placeholder="Имя" ng-model="newStudent.name">
            <p></p>
            <input class="form-control" type="text" placeholder="Оценка" ng-model="newStudent.age">
            <p></p>
            <button type="submit" class="btn btn-primary">Сохранить</button>

        </form>
        <p></p>
        <button class="btn btn-secondary" ng-click="clearFields()">Очистить</button>
    </div>
</div>
</body>
</html>